/* Body genral Styles */

body {
    font-family: "Open Sans", sans-serif;
    color: #4d4643;
  }
  
  a {
    color: #428bca;
    text-decoration: none;
  }
  
  a:hover {
    color:#428bca;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }

  /* Root variables Colors */

  :root { 
    --background-color: #ffffff; 
    --contrast-color: #ffffff; 
  }




  /* All page Titles */

  .page-title {
    --background-color: #000000;
    --heading-color: var(--contrast-color);
    --default-color: var(--contrast-color);
    color: var(--default-color);
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 160px 0 60px 0;
    text-align: center;
    position: relative;
  }
  
  .page-title:before {
    content: "";
    background-color: color-mix(in srgb, var(--background-color), transparent 40%);
    position: absolute;
    inset: 0;
  }
  
  .page-title h1 {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .page-title .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
  
  .page-title .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .page-title .breadcrumbs ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }


  /* Back to Top Button Styles */
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #428bca;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #428bca;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  


  /* Section title Styles */

  .section-title {
    /* text-align: center; */
    padding-bottom: 60px;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    border-bottom: 1px solid #428bca;
  }

  .section-title h2 span{
    color: #428bca;
  }
  
  .section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    /* background: var(--accent-color); */
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .section-title p {
    margin-bottom: 0;
  }



  /* Genral Buttons Styles */
  .button{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    background-color:#428bca ;
  }

  .button:hover{
    color: white;
  }

  

  /* Header section Styles */

  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  
  #header .logo a {
    color: #111;
  }
  
  #header .logo a span {
    color: #428bca;
  }
  
  #header .logo img {
    max-height: 40px;
  }

  

  /* Header social media Links */


  .header-social-links {
    margin-left: 20px;
    border-left: 1px solid #c4c4c4;
  }
  
  .header-social-links a {
    color: #a0a0a0;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    padding-left: 20px;
  }
  
  .header-social-links a i {
    line-height: 0;
  }
  
  .header-social-links a:hover {
    color: #428bca;
  }
  
  @media (max-width: 768px) {
    .header-social-links {
      padding: 0 15px 0 0;
      border-left: 0;
    }
  }





  /* Navbar section Styles  */

  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #111;
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #428bca;
  }
  
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #111;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #111;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #428bca;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  
  /* Hero section styles  */

  #hero {
    width: 100%;
    height: 100vh;
    background: url(../img/slide1-img.jpg) top center;
    background-size: cover;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    background: #428bca;
    border: 2px solid #2dc997;
  }



  /* About US section styles */
  
  #about {
    background: #fff;
    padding: 80px 0;
  }
  
  
  
  #about .about-container .content {
    background: #fff;
  }

  .content p{
    font-size: 10px;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }
  
  @media (max-width: 768px) {
    #about .about-container .title {
      padding-top: 15px;
    }
  }
  
  #about .about-container p {
    line-height: 20px;
    font-size: 15px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }
  
  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  
  #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #428bca;
  }
  
  #about .about-container .icon-box .icon i {
    color: #428bca;
    font-size: 24px;
    line-height: 0;
  }
  
  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  #about .about-container .icon-box .title a {
    color: #111;
  }
  
  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }


  /* Homepage project display section Section */

  .Project-display .card {
    background-color: white;
    color:black;
    border: 1px solid black;
    position: relative;
    border-radius: 20px;
  }
  
  .Project-display .card .card-img {
    overflow: hidden;
    margin-bottom: 15px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
  }

 .card-img img{
    height: 300px;
    width: 100%;
  }
  
  .Project-display .card .card-img img {
    transition: 0.3s ease-in-out;
  }
  
  .Project-display .card h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 20px;
  }
  
  .Project-display .card a {
    color: #428bca;
    transition: 0.3;
  }
  
  .Project-display .card a:hover {
    color: #428bca;
  }
  
  .Project-display .card p {
    padding: 0 20px;
    margin-bottom: 20px;
    color: black;
    font-style: italic;
    font-size: 15px;
  }
  
  .Project-display .card:hover .card-img img {
    transform: scale(1.1);
  }
  


/* Gallery Section Styles */

#gallery{
  margin-top: 5rem;
}

.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid var(--background-color);
  border-bottom: 3px solid var(--background-color);
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
  height: 300px;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}




/* Our Team Section */

#team {
  background: #fff;
  padding: 80px 0 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 350px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #428bca;
}

#team .member .social a:hover {
  color: #03C4EB;
}

#team .member .social i {
  font-size: 22px;
  margin: 0 2px;
}


/* placements Section */

.placements {
  --background-color: color-mix(in srgb, var(--default-color), transparent 94%);
  overflow: hidden;
  margin-top: 5rem;
}

.placements .swiper-wrapper {
  height: auto;
}

.placements .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.placements .swiper-pagination .swiper-pagination-bullet {
  background-color: black, transparent 85%;
  border: 0;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.placements .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #428bca;
  opacity: 1;
}

.placements .swiper-slide-active {
  text-align: center;
}

@media (min-width: 992px) {
  .placements .swiper-wrapper {
    padding: 40px 0;
  }

  .placements .swiper-slide-active {
    background: black;
    border: 6px solid #428bca;
    padding: 4px;
    z-index: 1;
    transform: scale(1.2);
    transition: none;
  }
}

.swiper-slide a img{
  height: 400px;
  width: 280px;

}



/* Footer Section styles */

#footer {
  color: #fff;
  font-size: 14px;
  background: #111;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #1e1e1e;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 22px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #428bca;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}


#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #428bca;
  color: #fff;
  text-decoration: none;
}

.foot-logo img{
  max-height: 70px;
  padding-bottom: 10px;
}



/* Contact Section styles */

.contact{
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.contact .info-item {
  box-shadow: 0px 0px 20px rgb(49, 49, 49);
  padding: 24px 0 30px 0;
}

.contact .info-item i {
  font-size: 20px;
  color:#428bca;
  width: 56px;
  height: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 2px dotted #000000;
}

.contact .info-item h3 {
  font-size: 20px;
  color:black;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}


@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* About Section Styles */

.about .inner-title {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 30px 0;
}

@media (min-width: 991px) {
  .about .inner-title {
    max-width: 65%;
    margin: 0 0 80px 0;
  }
}

.about .our-story {
  padding: 40px;
  background-color: color-mix(in srgb, var(--default-color), transparent 96%);
}

@media (min-width: 991px) {
  .about .our-story {
    padding-right: 35%;
  }
}

.about .our-story h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.about .our-story h3 {
  font-size: 2.25rem;
  font-weight: 700;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.about .our-story p:last-child {
  margin-bottom: 0;
}

.about ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.about ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.about ul i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  line-height: 1.2;
  color: var(--accent-color);
}

.about .watch-video i {
  font-size: 2rem;
  transition: 0.3s;
  color: var(--accent-color);
}

.about .watch-video a {
  font-weight: 600;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-left: 8px;
  transition: 0.3s;
}

.about .watch-video:hover a {
  color: var(--accent-color);
}

.about .about-img {
  min-height: 400px;
  position: relative;
}

@media (min-width: 992px) {
  .about .about-img {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 600px;
  }
}

.about .about-img img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.alt-services-2 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.features-image img{
  height: 550px;
}

  